.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 40px;
  box-sizing: border-box;
}

.darkMode {
  background-color: hsl(209, 23%, 22%);
}

.lightMode {
  background-color: hsl(0, 0%, 100%);
}

.Icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Icon > p {
  margin-left: 5px;
}
