.Main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}

.Input {
  border: 0;
  outline: none;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px 10px 35px;
  width: 300px;
  box-sizing: border-box;
  border-radius: 3px;
}

.lightModeBg {
  background-color: hsl(0, 0%, 100%);
}

.darkModeBg {
  background-color: hsl(209, 23%, 22%);
}

.lightModeText {
  color: hsl(200, 15%, 8%);
}

.darkModeText {
  color: hsl(0, 0%, 100%);
}

.Select {
  padding: 10px 20px;
  border-radius: 3px;
  border: 0px;
  outline: none;
}

.FaSearch {
  position: absolute;
  transform: translate(10px, 10px);
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.isLoading {
  text-align: center;
  font-size: 24px;
}
