.moreDetails {
  padding: 50px;
}

.countryDetails {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
  transform: translateY(70px);
}

.countrydetail {
  display: flex;
  justify-content: space-between;
}

.countrydetail > ul > li {
  padding: 0 0 8px 0;
}

.backArrow {
  transform: translateY(3px);
}

.backBtn {
  background-color: hsl(209, 23%, 22%);
  border: 0px;
  border-radius: 3px;
  padding: 6px 18px;
  position: relative;
  text-decoration: none;
  top: -20px;
}

.borderCountriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.borderCountries {
  background-color: hsl(209, 23%, 22%);
  padding: 5px 18px;
  width: fit-content;
}

.flagImg {
  width: 100%;
}

.leftPart {
  width: 40%;
}

.detailsRight {
  width: 40%;
}

.detailsRight > h2 {
  margin-inline-start: 0;
}

.detailsRight > ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.rightList {
  margin-left: 20px;
}

.countrydetail > ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.header {
  font-weight: bolder;
}

.link {
  text-decoration: none;
  color: inherit;
}

.lightModeBg {
  background-color: hsl(0, 0%, 100%);
}

.darkModeBg {
  background-color: hsl(209, 23%, 22%);
}

.lightModeText {
  color: hsl(200, 15%, 8%);
}

.darkModeText {
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 768px) {
  .countryDetails {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .leftPart {
    width: auto;
  }

  .detailsRight {
    width: fit-content;
  }
}

@media screen and (max-width: 415px) {
  .countrydetail {
    flex-direction: column;
  }

  .rightList {
    margin-left: 0px;
  }
}
